---
import type { GetStaticPathsOptions, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import ContentLayout from "../../layouts/ContentLayout.astro";
import { getWorks } from "../../utils/work";

import Card from '../../components/molecules/Card.astro';
import Pagination from '../../components/molecules/Pagination.astro';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  return paginate(await getWorks(), { pageSize: 9 });
}

const { page } = Astro.props as {
  page: Page<CollectionEntry<"work">>;
};
---

<ContentLayout title="works">
  <Card title="Work">
    <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        page.data.map(({ data, slug }) => (
          <div class="col-span-1 flex flex-col justify-between">
            <a href={`/work/${slug}`}>
              <div class="pb-4">
                <img src={data.thumbnail} alt={data.title}
                  class="w-full rounded-lg shadow-md aspect-video object-cover"
                />
              </div>
              <div class="border-t pt-4">
                <h2 class="text-xl font-bold">{data.title}</h2>
                <p>{data.description}</p>
              </div>
            </a>
            <p class="pt-6 text-sm text-right">
              {data.from} - {data.to}
            </p>
          </div>
        ))
      }
    </div>
    <Pagination prev={page.url.prev} next={page.url.next} />
  </Card>
</ContentLayout>